<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>nejt demo</title>
</head>
<body>
	<div id="xx"></div>
	<script type="text/nejt" id="users">
		<ul>
			<% for(var i=0,user,len=users.length;i<len;i++){ %>
				<li><%= users[i].name %><% if(i<len-1){ %>, <% } %></li>
			<% } %>
		</ul>
	</script>
	<div id="a"></div>
	<div id="b"></div>
	<script src="../nejt.js"></script>
	<script>
		var users = [{name: "wwq", age: 30}, {name: "hxl", age: 32}, {name: "gp", age: 33}];
		NEJT.render('users', {users: users}, 'xx');

		var render = NEJT.compile('Hello, <%= name %>.');
		render({name: 'Jack'}, 'a');

		var html = render({name: 'Tom'});
		document.getElementById('b').innerHTML = html;

	</script>
</body>
</html>